 <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Best Gym</title>
		<link rel="shortcut icon" href="../../Assets/Images/logo.ico">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="../css/footer.css">
		<link rel="stylesheet" href="../css/header.css">
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<header>
			<img src="../../Assets/Images/LOGO.png" alt="The Best Gym Logo" class="header-icon">
			<div class="title">
				<h1>The Best Gym</h1>
				<p>Mega Rocket s.a.</p>
			</div>
			<div class="menu-icon">
				<ul>
					<li><a href="../views/login.html">Log in</a></li>
					<li><a href="../views/sign-up.html">Sign Up</a></li>
				</ul>
			</div>
		</header>
		<main>
			<aside>
				<div class="navegation">
					<nav>
						<ul>
							<li><a href="../views/index.html">Menu</a></li>
							<li><a href="../views/login.html">Log In</a></li>
							<li><a href="../views/sign-up.html">Sign Up</a></li>
							<li><a href="../views/login.html">Contact</a></li>
						</ul>
					</nav>
					<div class="id-contact">
						<p>+54341656578</p>
						<a href="https://bit.ly/3nEyigV" target="blank">megarocket@info.com</a>
						<p>Calle Mega Rocket SA Nº 124, Rosario, Santa Fe, Argentina, CP: 2000.</p>
					</div>
				</div>
			</aside>
			<div class="main-container">
				<section class="philoshophy">
					<h2>Our philoshophy & commitment</h2>
					<p>
						We are a gym that is based on well being, and care for each other.
						We are a community of people focused on being better in all aspects of life, including physical health.
					</p>
				</section>
				<section class="why">
					<div class="container-why">
						<div class="why-title">
							<h4>why mega rocket?</h4>
							<img src="../../Assets/Images/LOGO.png" alt="The Best Gym Logo" class="small-logo">
						</div>
						<div class="why-text">
							<p>
								We have 324 spaces all around the world designed just for YOU to be better.
								Take care of yourself, we have everything that you could possibly need to have better physical health.
							</p>
						</div>
					</div>
					<img src="../../Assets/Images/why-megarocket.png" alt="Women exercising" class="women-excercising">
				</section>
				<section class="all-activities">
					<div class="section-title">
						<h2>JOIN OUR ACTIVITIES!</h2>
					</div>
					<div class="activities-group">
						<div class="activities-images crossfit">
							<h3>crossfit</h6>
							<p>
								Equipment granted, lift, build muscle, and gain strength
							</p>
						</div>
						<div class="activities-images spinning">
							<h3>spinning</h3>
							<p>
								Bike all around the world, with the best music, and teachers
							</p>
						</div>
						<div class="activities-images functional">
							<h3>functional</h3>
							<p>
								Build muscle and agility
							</p>
						</div>
						<div class="activities-images boxing">
							<h3>boxing</h3>
							<p>
								Best techniques, equipment, and levels.
							</p>
						</div>
						<div class="activities-images weight">
							<h3>weight training</h3>
							<p>
								Lift up, we have every weigth you will need
							</p>
						</div>
					</div>
				</section>
				<section class="memberships">
					<div class="section-title mr-membership-title">
						<h2 class="mr-membership">Mega Rocket Membership</h2>
					</div>
					<div class="memberships-all">
						<article class="membership-each-one">
							<img src="../../Assets/Images/kid-membership.png" alt="Kid doing weight lifting.">
							<div class="only-classes">
								<div class="rect-gris"></div>
								<h2><span>Only Classes</span> Membership</h2>
								<ul class="list-membership">
									<li>Free access to classes prior registration</li>
									<li>Grid display</li>
								</ul>
								<div class="text-membership">
									<p>Cheaper for you, and great for starting</p>
								</div>
								<div class="button">
									<a class="membership-button">Suscribe!</a>
								</div>
							</div>
						</article>
						<article class="membership-each-one">
							<img src="../../Assets/Images/clasic-membership.png" alt="Grandma doing weight lifting.">
							<div class="only-classes">
								<div class="rect-gris"></div>
								<h2><span>Classic</span> Membership</h2>
								<ul class="list-membership">
									<li>Free access to the weight room</li>
									<li>Personalized follow up by a trainer</li>
									<li>Grid display</li>
								</ul>
								<div class="text-membership">
									<p>With this membership, you can have anything you need and more!</p>
								</div>
								<div class="button">
									<a class="membership-button">Join Now!</a>
								</div>
							</div>
						</article>
						<article class="membership-each-one">
							<img src="../../Assets/Images/black-membership.png" alt="Strong person doing weight lifting.">
							<div class="only-classes">
								<div class="rect-gris"></div>
								<h2>Black Membership</h2>
								<ul class="list-membership">
									<li>Free access to the weight room</li>
									<li>Free access to classes prior registration</li>
									<li>Personalized follow up by a trainer</li>
									<li>Grid display</li>
								</ul>
								<div class="text-membership">
									<p>If you want to be the best, this is the membership for you.</p>
								</div>
								<div class="button">
									<a class="membership-button">Go All-in!</a>
								</div>
							</div>
						</article>
					</div>
				</section>
				<section class="banner">
					<div class="reservation-banner">
						<div class="banner-content">
							<h2 class="banner-h2-wh">Universe Mega Rocket!</h2>
							<h3 class="banner-h3-wh">Reservation</h3>
							<p class="banner-p-wh">
								Here you can tap and, make sure to have a place on your favourite class!
							</p>
						</div>
						<img src="../../Assets/Images/reservation.png" alt="Cursor clicking on a web page." class="banner-images">
					</div>
					<div class="membership-banner">
						<div class="banner-content">
							<h2 class="banner-h2-wh">Universe Mega Rocket!</h2>
							<h3 class="banner-h3-wh">Membership</h3>
							<p class="banner-p-wh">
								Tap here to see all the memberships we offer!
							</p>
						</div>
						<img src="../../Assets/Images/memberships.png" alt="Hands holding a member card" class="banner-images">
					</div>
					<div class="schedule-banner">
						<div class="banner-content">
							<h2 class="banner-h2-bl">Universe Mega Rocket!</h2>
							<h3 class="banner-h3-bl">Weekly Schedule</h3>
							<p class="banner-p-bl">
								Tap here to see all of our classes during the week and the time table for them!
							</p>
						</div>
						<img src="../../Assets/Images/weekly-schedule.png" alt="Draw of a calendar and to do list." class="banner-images">
					</div>
					<div class="contact-banner">
						<div class="banner-content">
							<h2 class="banner-h2-bl">Universe Mega Rocket!</h2>
							<h3 class="banner-h3-bl">Contact & Suggestions</h3>
							<p class="banner-p-bl">
								If you have any questions, want more info, or have a suggestion, please tap here!
							</p>
						</div>
						<img src="../../Assets/Images/contact-and-suggestions.jpg" alt="Draw of a person talking" class="banner-images">
					</div>
				</section>
				<section class="form">
					<div class="form-title">
						<h2>Got Any Questions?</h2>
					</div>
					<form>
						<div class="suggest-opinion">
							<div class="radio-input complain-checkbox">
								<input type="radio" name="Option" id="complain">
								<label for="complain" class="label">I would like to do a complain</label>
							</div>
							<div class="radio-input suggest-checkbox" >
								<input type="radio" name="Option" id="suggestion">
								<label for="suggestion">I would like to make a suggestion/opinion</label>
						</div>
						</div>
							<div class="radio-input prices-checkbox">
								<input type="radio" name="Option" id="prices">
								<label for="prices">I would like to know more about membership and prices</label>
							</div>
						<div class="name-surname">
							<input type="text" placeholder="NAME" class="input-name">
							<input type="text" placeholder="SURNAME" class="input-surname">
						</div>
						<input type="email" placeholder="EMAIL" class="input-mail">
						<div class="message-input">
							<label>Write your message</label>
							<textarea placeholder="..." required name="message" cols="67" rows="10"></textarea>
							<input type="submit" value="Submit">
						</div>
					</form>
				</section>
			</div>
		</main>
		<footer>
			<div class="social">
				<a href="https://www.facebook.com/" target="-blank">
					<img src="../../Assets/Images/facebook-LOGO.png" alt="Facebook logo">
				</a>
				<a href="https://www.instagram.com/" target="-blank">
					<img src="../../Assets/Images/instagram-LOGO.png" alt="Instagram logo">
				</a>
				<a href="https://twitter.com/" target="-blank">
					<img src="../../Assets/Images/twitter-LOGO.png" alt="Twitter logo">
				</a>
			</div>
			<div class="copyright">
				<p>Copyright © 2019. Todos los derechos reservados</p>
			</div>
		</footer>
	</body>
</html>