<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../Assets/Images/radium-rocket-logo.png"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <script defer src="../js/login.js"></script>
    <title>Login</title>
  </head>
  <body>
    <main>
      <div id="modal-window" class="modal-container">
        <div class="modal-box">
            <div class="up-message">
                <h1 id="title-modal"></h1>
              </div>
            <p id="text-modal"></p>
            <button class="modal-button" id="button-modal">Close</button>
        </div>
    </div>
      <aside>
          <nav>
            <div class="logo-side-bar">
              <img src="../../Assets/Images/LOGO.png" alt="The Best Gym logo" class="logo-side-bar">
            </div>
            <div class="side-bar-list">
              <ul>
                  <li><a href="../views/index.html">Menu</a></li>
                  <li><a href="../views/login.html">Log In</a></li>
                  <li><a href="../views/sign-up.html">Sign Up</a></li>
                  <li><a href="../views/login.html">Contact</a></li>
              </ul>
            </div>
          </nav>
      </aside>
      <div class="form-container">
        <div class="green-box">
          <div class="header-logo">
            <img src="../../Assets/Images/LOGO.png" alt="The Best Gym logo" class="header-logo">
          </div>
          <div class="buttons-mobile">
            <ul>
              <li><a href="../views/index.html">Home</a></li>
              <li><a href="../views/sign-up.html">Sign Up</a></li>
            </ul>
          </div>
        </div>
        <form>
          <div class="title-login">
            <h2>Login</h2>
          </div>
          <div class="input-login">
            <div class="login-input login-input-email">
              <h2>Email</h2>
              <input class="input-email" type="text" placeholder="EMAIL">
              <p class="validation-message"></p>
            </div>
            <div class="login-input login-input-password">
              <h2>Password</h2>
              <input class="input-password" type="password" placeholder="PASSWORD">
              <p class="validation-message"></p>
            </div>
          </div>
          <div class="remember">
            <input type="checkbox" name="remember-option">
            <label>Remember me</label>
          </div>
          <div class="forgot">
            <a href="../views/login.html">Forgot your password?</a>
          </div>
          <div class="login-button">
            <button>Login</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>