
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Gym</title>
		<link rel="shortcut icon" href="../../Assets/Images/logo.ico">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <!-- <link rel="stylesheet" href="../css/login.css"> -->
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <script defer src="../js/sign-up.js"></script>
  </head>
  <body>
      <main>
        <div id="modal-window" class="modal-container">
          <div class="modal-box">
              <div class="up-message">
                  <h1 id="title-modal"></h1>
                </div>
              <p id="text-modal"></p>
              <button class="modal-button" id="button-modal">Close</button>
          </div>
      </div>
        <aside>
          <nav>
            <div class="logo-side-bar">
              <img src="../../Assets/Images/LOGO.png" alt="The Best Gym logo" class="logo-side-bar">
            </div>
            <div class="side-bar-list">
              <ul>
                  <li><a href="../views/index.html">Menu</a></li>
                  <li><a href="../views/login.html">Log In</a></li>
                  <li><a href="../views/sign-up.html">Sign Up</a></li>
                  <li><a href="../views/login.html">Contact</a></li>
              </ul>
            </div>
          </nav>
        </aside>
        <div class="form-container">
          <div class="green-box">
            <div class="header-logo">
              <img src="../../Assets/Images/LOGO.png" alt="The Best Gym logo" class="header-logo">
            </div>
            <div class="buttons-mobile">
              <ul>
                <li><a href="../views/index.html">Home</a></li>
                <li><a href="../views/login.html">Log In</a></li>
              </ul>
            </div>
          </div>
        <form>
          <div class="title-create">
            <h2>Create Account</h2>
          </div>
          <div class="input-create">
            <div class="create-input create-input-name">
              <h2>Name</h2>
              <input class="input-name" type="text" >
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-lastname">
              <h2>Lastname</h2>
              <input class="input-lastName" type="text">
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-id">
              <h2>ID Number</h2>
              <input class="input-id" type="text" >
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-date">
              <h2>Date</h2>
              <input class="input-date" type="date" >
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-phone">
              <h2>Phone</h2>
              <input class="input-phone" type="text" >
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-address">
              <h2>Address</h2>
              <input class="input-address" type="text">
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-city">
              <h2>City</h2>
              <input class="input-city" type="text" >
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-code">
              <h2>Code</h2>
              <input class="input-code" type="text" >
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-email">
              <h2>Email</h2>
              <input class="input-email" type="text">
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-password">
              <h2>Password</h2>
              <input class="input-password" type="password">
              <p class="validation-message"></p>
            </div>
            <div class="create-input create-input-confirm">
              <h2>Confirm Password</h2>
              <input class="input-confirm" type="password">
              <p class="validation-message"></p>
            </div>
          </div>
          <div class="member-create">
            <div class="member member-01">
              <input type="radio" name="member-option">
              <label>Only Classes $9.99</label>
            </div>
            <div class="member member-02">
              <input type="radio" name="member-option">
              <label>Classic $19.99</label>
            </div>
            <div class="member member-03">
              <input type="radio" name="member-option">
              <label>Black $39.99</label>
            </div>
          </div>
          <div class="member-button">
            <button>Register</button>
          </div>
        </form>
        </div>
    </main>
  </body>
</html>