@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');
body {
    background-color: #ECE9F1;
    font-family: 'Roboto', sans-serif;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
@media (min-width: 601px) {

}
@media (min-width: 1025px) {
    
}