
aside{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 323px;
    background: #373867;
    opacity: 0.6;
}
.id-contact{
    display: none;
}
.navegation li{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.navegation h3{
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

.philoshophy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 245px;
    min-width: 260px;
    background-image: url(../../Assets/Images/blue-gym-banner.png);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
.philoshophy h2{
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}
.philoshophy p{
    font-size: 10px;
    font-weight: 400;
    margin: 20px;
    margin-right: 90px;
    margin-left: 90px;
}
.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.women-excercising{
    display: none;
}
.why-text img{
    display:none;
}
.why-text{
    color: #373867;
    text-align: center;
    align-items: center;
    margin-top: 35px;
    font-weight: 700;
    padding: 0% 10%;
}
.why-text h4{
    text-transform: uppercase;
}
.why-text p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.section-title{
    width: 80%;
    margin: 14% 0;
    padding: 3% 13%;
    text-align: center;
    color: #FFFFFF;
    background-color: #373867;
}
.all-activities {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.all-activities div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:270px;
    height: 270px;
    margin-bottom: 20px;
}
.all-activities h3 {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.all-activities p {
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height:20px;
    text-align: center  ;
}
.crossfit {
    background-image: url("../../Assets/Images/crossfit.png");
    background-position: center top;
    background-size: cover;
}

.spinning {
    background-image: url("../../Assets/Images/spinning.png");
    background-position: center top;
    background-size: cover;
}

.functional {
    background-image: url("../../Assets/Images/funcional.png");
    background-position: center top;
    background-size: cover;
}

.boxing {
    background-image: url("../../Assets/Images/boxi.png");
    background-position: center top;
    background-size: cover;
}

.weight {
    background-image: url("../../Assets/Images/musculacion.png");
    background-position: center top;
    background-size: cover;
}
@media (min-width: 601px) {
    .philoshophy{
        min-height: 539px;
        width: 100%;
    }
    .philoshophy h2{
        font-size: 40px;
    }
    .philoshophy p{
        font-size: 20px;
        margin-right: 120px;
        margin-left: 120px;
    }
}
@media (min-width: 1025px) {
    main{
        display: flex;
        flex-direction: row;
    }
    aside {
        background-color: #373867;
        width: 20%;
        height: 5300px;
        color: white;
        padding-top: 50px;
    }
      .id-contact{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin-top: 7px;
        line-height: 1.5;
        align-self: center;
        text-align: center;
    }
    .philoshophy{
        width:100%;
    }
    .navegation a{
        color: white;
        font-size: 27px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
    }
    .id-contact a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-transform: lowercase;
        line-height: 1.5;
        font-weight: normal;
    }
    .navegation li{
        margin-top: 50px    ;
    }
    .navegation{
        position: sticky;
        top: 271px;
        color: white;
    }
}


