aside{
    display: none;
    justify-content: center;
    width: 100%;
    min-height: 323px;
    background: #373867;
    opacity: 0.6;
}
.id-contact{
    display: none;
}
.navegation li{
  font-size: 10px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.navegation h3{
    font-size: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

.philoshophy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 245px;
    min-width: 260px;
    background-image: url(../../Assets/Images/blue-gym-banner.png);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
.philoshophy h2{
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}
.philoshophy p{
    font-size: 10px;
    font-weight: 400;
    margin: 20px;
    margin-right: 90px;
    margin-left: 90px;
}
.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.women-excercising{
    display: none;
}
.why-text img{
    display:none;
}
.why-text{
    color: #373867;
    text-align: center;
    align-items: center;
    margin-top: 35px;
    font-weight: 700;
    padding: 0% 7%;
}
.why-text h4{
    text-transform: uppercase;
}
.why-text p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.section-title{
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    min-height: 53px;
    width: 82%;
    text-align: center;
    color: #FFFFFF;
    background-color: #373867;
}
.all-activities {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
}
.activities-group {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
}
.activities-group div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:70%;
    height: 270px;
    margin-bottom: 20px;
}
.all-activities h3 {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.all-activities p {
    width: 100%;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height:20px;
    text-align: center  ;
}
.crossfit {
    background-image: url("../../Assets/Images/crossfit.png");
    background-position: center top;
    background-size: cover;
}

.spinning {
    background-image: url("../../Assets/Images/spinning.png");
    background-position: center top;
    background-size: cover;
}

.functional {
    background-image: url("../../Assets/Images/funcional.png");
    background-position: center top;
    background-size: cover;
}

.boxing {
    background-image: url("../../Assets/Images/boxi.png");
    background-position: center top;
    background-size: cover;
}

.weight {
    background-image: url("../../Assets/Images/musculacion.png");
    background-position: center top;
    background-size: cover;
}
.memberships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memberships-all{
    margin-top: 10%;
}
.membership-each-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.only-classes{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}
.rect-gris{
    background-color:#979797;
    height: 45px;
    width: 80%;
    margin-top: -55px;

}

.only-classes h2 {
    margin: 10% 0;
    align-self: flex-start;
    color: #373867;
    font-size: 30.5px;
    font-weight: 700;
}
.only-classes span {
    color: #AACE9B;
}
.only-classes p,li{
    color: #373867;
    font-size: 15px;
    font-weight: 400;
    margin-top: 5%;
    text-align: left;
}
.text-membership{
    display: flex;
    justify-content: center;
    width: 80%;
}
.only-classes ul{
    align-self: flex-start;
    border-bottom: 1px solid #AFAFC2;
    padding-bottom: 5%;
    width: 100%;
}
.list-membership li::before{
    content: "\2713";
    padding-right: 5px;
}
.memberships img {
    width: 100%;
    height:100%;
}
.button{
    width: 100%;
    background-color: #49A37B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    margin-top: 5% ;
}

.button a{
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.banner > div{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 10%;
}
.banner-images{
  width: 128px;
  height: 128px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.banner-h2-wh{
  font-size: 52px;
  font-weight: 700;
}
.banner-h3-wh{
  margin-top: 5%;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}
.banner-p-wh{
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-align: justify;
}
.banner-h2-bl{
  font-size: 65px;
  font-weight: 700;
  color: #373867;
}
.banner-h3-bl{
  margin-top: 20px;
  font-weight: 400;
  font-size: 33px;
  color: #373867;
}
.banner-p-bl{
  font-weight: 400;
  font-size: 33px;
  color: #373867;
  text-align: justify;
}
.reservation-banner{
  display: flex;
  background-color: #AACE9B;
}
.membership-banner{
  display: none;
  background-color: #373867;
}
.schedule-banner{
  display: none;
  background-color: white;
}
.contact-banner{
  display: none;
  background-color: #919194;
}
.form{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 90%;
  background: #FFFFFF;
  border-radius: 20px;
  outline: 1px solid black;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.form-title{
  text-align: center;
  color: #373867;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}
.radio-input{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#373867 ;
  border: 1px solid #373867;
  border-radius: 5px;
  margin-top: 4%;
  padding-right: 3px;
  padding-bottom: 2px;
  font-weight: 500;
}
form label{
  font-size: 8px;
}
.name-surname{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;

}
.input-name{
  width: 40%;
}
.input-surname{
  width: 40%;
}
.message-input{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 4%;
}
.message-input label{
  color: #373867;
  font-weight: bold;
  font-size: 13px;
  margin-top: 4%;
}
.message-input input{
  align-self: center;
  width: 30%;
  height: 35px;
  background: #AACE9B;
  border: 1px solid #373867;
  border-radius: 5px;
  color: #373867;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;

}

@media (min-width: 601px) {
    .philoshophy{
        min-height: 539px;
        width: 100%;
    }
    .philoshophy h2{
        font-size: 40px;
    }
    .philoshophy p{
        font-size: 20px;
        margin-right: 120px;
        margin-left: 120px;
    }
    .navegation li{
      font-size: 20px;
    }
    .navegation h3{
        font-size: 20px;
    }
    .why{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .women-excercising{
      display: block;
      width: 276px;
      height: 244px;
      margin-right: 5%;
    }
    .why-text h4{
      font-size: 35px;
    }
    .why-text p{
      font-size: 25px;
      margin-top: 5%;
      text-align: left;
    }
    .activities-group div {
      width:30%;
      margin: 0;
  }
    .activities-group{
      flex-direction: row;
      margin: 5% 0 0 5%;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .section-title{
      min-height: 7em;
      max-width: 37em;
    }
    .section-title h2{
      font-size: 40px;
    }
    .mr-membership-title{
      margin-top:5%;
    }
    .memberships-all{
      width: 70%;
    }
    .rect-gris{
      min-height: 61px;
      margin-top: -12%;
    }
    .membership-each-one h2{
      font-size: 40px;
    }
    .membership-each-one li{
      font-size: 1em;
    }
    .banner > div{
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
    .banner-images{
      width: 273px;
      height: 280px;
    }
    .banner-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 40%;
      margin-bottom: 10%;
    }
    .banner-content h2{
      font-size: 80px;
    }
    .banner-content h3{
      font-size: 2em;
    }
    .banner-content p{
      font-size: 2em;
    }
    .membership-banner{
      display: none;
    }
    .schedule-banner{
      display: none;

    }
    .contact-banner{
      display: none;
   }
   .form{
    width: 665px;
    height: 694px;
    justify-content: flex-start;
   }
   .form-title{
    font-weight: bold;
    font-size: 32px;
    margin-top: 7%;
   }
   form{
    width: 90%;
   }
   form label{
    font-size: 1em;
   }
   .suggest-checkbox{
    align-self:first baseline;
   }
   .suggest-opinion{
    display: flex;
    flex-direction: row;
    align-content: space-between;
   }
   .suggest-checkbox{
    margin-left: 30px;
   }
   .radio-input{
    padding: 1%;
   }
}
@media (min-width: 1025px) {
    main{
        display: flex;
        flex-direction: row;
    }
    aside {
        background-color: #373867;
        width: 20%;
        height: 5300px;
        color: white;
        padding-top: 50px;
    }
      .id-contact{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin-top: 7px;
        line-height: 1.5;
        align-self: center;
        text-align: center;
    }
    .philoshophy{
        width:100%;
    }
    .navegation a{
        color: white;
        font-size: 27px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
    }
    .id-contact a{
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-transform: lowercase;
        line-height: 1.5;
        font-weight: normal;
    }
    .navegation li{
        margin-top: 50px    ;
    }
    .navegation{
        position: sticky;
        top: 271px;
        color: white;
    }
}


